@import url('https://fonts.googleapis.com/css2?family=Lilex:ital,wght@0,100..700;1,100..700&display=swap');

:root{
	--base-color: #fffff;
	--text-color: green;
	--primary-color:#e0f6c5;
	--secondary-color:#8D8DFF;
	--color-1:#ffffff;
	--color-2:#ebf7d9;
	--color-3:#ffffff;

}

* {
    margin: 0;
    padding:0;
	box-sizing: border-box;
}

html {
	font-family: "Lilex";
	color: var(--text-color);
	background-color: #e0f6c5;
}

nav {
	margin: 1em auto 3em auto;
	width: min(1000px,100%);
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 2em;
}

nav li:first-child{
	margin-right: auto;
}

nav a {
	text-decoration: none;
	color: var(--text-color);
}

nav a:hover {
	text-decoration: underline;
}

header, section {
	margin: 2em auto;
	width: min(75em, 100%);
	background-color: var(--color-1);
	padding: min(2em, 15%);
	border-radius: 1em;
}

.flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap:3em;
}

header img{
	max-width: 100%;
	border-radius: 1em;
	object-fit: cover;
	object-position: bottom;
}

.text-container {
	flex: 0 1 34em;
}

h1 {
	font-size: 2.5rem;
}

h2{
	font-size: 2.0rem;
	text-align: center;
	padding-bottom: 1rem;
}

h3{
	font-size: 1.5rem;
}

.text-container p {
	margin: .75em 0 1em 0;
	font-size: 1.25rem;
}

.cta-button {
	display: inline-block;
	text-decoration: none;
	color:  var(--color-1);
	background-color: darkolivegreen;
	padding: .75em 1.25em;
	border-radius: .5em;
	font-weight: 600;
}

.secondary {
	background-color: var(--secondary-color);
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 1em; /* 5px rounded corners */
	background-color:  var(--color-2);
	width: 100%;
	margin: .75em 0 1em 0;
	position: relative;
}

/* Add rounded corners to the top left and the top right corner of the image */
.card img {
	border-radius: 1em;
	align-self: center;
}

.grid-container{
	margin-top: 3em;
	margin-bottom: 3em;
	display: grid;
	width: 100%;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: 1fr;
	grid-template-areas: "card-1 card-2 card-3"
	"card-4 card-5 .";
	gap: 1em;
}
.grid-container .card:hover{
	scale:1.05
}
.card-contents{
	padding: 2px 16px;
	margin: .75em 0 1em 0;

}
.card-contents p{
	margin-bottom: 3em;
}
.card-button{
	position: absolute;
	bottom: 0;
	margin-bottom: 1em;
}

.project-button{
	text-align: center;
    display: block;
	align-self: center;
}

footer {
	padding-bottom: 1.5em;
	text-align: center;
}

footer a {
	margin: 0 1em;
	text-decoration: none;
	color: var(--text-color);
}

footer a:hover {
	text-decoration: underline;
}

@media(max-width:955px){
	header{
		text-align: center;
	}

	header .text-container{
		padding-top:0;
	}
}

@media (max-width:640px) {
	nav li{
		display: none;
	}
	
	nav li:first-child,
	nav li:last-child{
		display:block
	}

	header{
		margin-top: 0;
	}

	.cta-button{
		margin-top: .5em;
		width:100%;
	}

	.grid-container{
		display: flex;
		flex-direction: column;
	}
	.card-button{
	position: absolute;
	bottom: 0;
	margin-bottom: 1em;
	width: fit-content;
	}
}